@import 'variables';
@import 'reset';

body {
  background-color: $clr-primary-700;
  height: 100vh;
}

.container {
  height: 100%;
  border: 1px solid pink;
}

.card-img {
  position: relative;
}

.card-img::before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: $clr-primary-200;
  opacity: 0.5;
  filter: contrast(130%);
}
